[2013-08-07 13:48] minorOffense opened #1 "Convert menu from static HTML to use Drupal menu"
Right now the menus are static. Need to change them to use the Drupal menus once the content is created.

[2013-08-07 13:48] minorOffense opened #2 "Convert static landing page blocks to beans"
Need the beans container to load the front page content vs static blocks.

[2013-08-07 13:50] minorOffense opened #3 "Remove double titles from internal pages"
Since panelized pages seem to embed the title into the page, showing the page title is no necessary. It also shows two titles at the moment.

[2013-08-07 13:52] minorOffense opened #4 "Change search form to use actual search form"
Instead of static markup, use the actual drupal form.

[2013-08-07 13:52] minorOffense opened #5 "Change placeholder language switcher to real language switcher"
Instead of using static markup, change it to use the real one.

[2013-09-20 17:36] VennilaCity opened #6 "Rename Table of Contents"
a.	Can we rename it “On this page” “ Dans cette page”
b.	The title of the box disappears when we scroll can we make it stay?
c.	The table of contents colours should match the gateway the page is in. (different coulours)
d.      Table of content is pushed to the bottom of the page in IE

[2013-09-20 17:45] VennilaCity opened #7 "French side of Immigration completely missing the gateway navigation bar"
French side of Immigration needs the navigation links and also the 6 blocks in the portal landing page are still in English.

The pages need to be styled like English, currently they look as in the screenshot below.

![image](https://f.cloud.github.com/assets/2806493/1182497/63909472-221c-11e3-8393-9574578fca05.png)

[2013-09-20 17:46] VennilaCity opened #8 "Look and Feel in IE is off"
The entire portal look and feel is completely different in IE

[2013-09-23 14:04] VennilaCity opened #9 "Issues with page summaries"
Some of the page summaries are split up into multiple paragraphs as in the links below https://staging.ottawa.ca/en/immigration/international-students
https://staging.ottawa.ca/en/immigration/why-choose-ottawa

Wondering if Max summary limit is 4, as some gateways have 5 pages and only 4 summaries show up.

Testing page summary can be removed to accomodate pages.

[2013-09-23 15:46] minorOffense commented on #9
Yup. It is set to show 4.

You can delete the test content page if you like.

[2013-09-23 15:56] minorOffense commented on #9
Do you want to show 5 instead?

[2013-09-23 15:58] VennilaCity commented on #9
I have modified the view to display 5 items. Thanks.

[2013-09-23 16:01] VennilaCity commented on #9
But still does not display 5 items...is it because of the summary splitting up into many paragraphs here https://staging.ottawa.ca/en/immigration/international-students ?

[2013-09-23 17:15] minorOffense commented on #9
Check to make sure the content you've created meets the Views filtering criteria. (i.e. requires an image, published, etc...)

[2013-09-23 17:52] VennilaCity commented on #9
Yes it does meet all the criteria

[2013-09-25 12:43] VennilaCity commented on #9
Mathew, did you have a chance to look into this as the portal is being to showed to the Mayor next week?

@minorOffense @elcazador

[2013-09-25 15:05] VennilaCity opened #10 "Page lost on edit and save"
After editing and publishing the page(Quality of Life), got a page not found error. I'm able to see the page title in content section but does not have the edit or delete functionality enabled on the far right....see image below.

![image](https://f.cloud.github.com/assets/2806493/1210054/d9cd5168-25f3-11e3-8e97-66c2509f1562.png)

[2013-09-25 15:08] VennilaCity commented on #10
Lost one more page (Arts and Culture)

![image](https://f.cloud.github.com/assets/2806493/1210084/60f67f7a-25f4-11e3-8db8-daa85f65947e.png)

[2013-09-27 12:49] VennilaCity commented on #10
Can these node IDs be cleared, so I can add new pages for the two deleted english pages(306021 and 306017)

[2013-09-27 14:53] AaronByrne commented on #9
@VennilaCity can you confirm if this is working correctly now?

[2013-09-27 14:54] VennilaCity commented on #9
Nope not yet...

https://staging.ottawa.ca/en/immigration/international-students

[2013-09-27 14:59] VennilaCity opened #11 "Immigration Block Quote title box alignment"
The top of the Block Quote box on the right hand side will need to align with the bottom the Page title.

[2013-09-27 15:02] AaronByrne commented on #8
needs to be fixed before launch but for review please instruct client to use Chrome.
@minorOffense @VennilaCity

[2013-09-27 15:31] VennilaCity opened #12 "Banner slideshow needs to be added to the portal landing page"
Immigration portal landing page slideshow of banners have to be added.

[2013-09-27 16:12] VennilaCity commented on #10
The alias is in use and so I'm unable to create a new page with same URL/name.

[2013-09-27 16:42] VennilaCity opened #13 "Before you arrive gateway link is wrong"
Clicking on Before You Arrive gateway leads to the home page.

[2013-09-27 17:29] AaronByrne commented on #10
Dave can you assist with this

@DaveBagler

[2013-09-27 17:41] DaveBagler commented on #10
Try now, I just killed the URL alias for it.

[2013-09-27 17:55] VennilaCity commented on #10
Still get the error

![image](https://f.cloud.github.com/assets/2806493/1228043/00d0816c-279e-11e3-9123-94ade23a7cc9.png)

[2013-09-30 15:16] VennilaCity opened #14 "A page redirect required"
Client wants a page under 'After you Arrive' gateway called 'Life in Ottawa' which simply needs to redirect to 'Portrait of Ottawa' page under 'Why Choose Ottawa' gateway.

[2013-09-30 17:52] minorOffense commented on #8
Right, so this is a "duh" moment for me. In order for IE8 to work with media queries we use Respond.js and Selectivizr.js libraries. These only work in IE8 when "@import" statements aren't used to include css. When Drupal is in dev mode, we disable the CSS aggregator which then causes all stylesheets to be included individually with @import commands.

By going to admin/config/development/performan

[2013-09-30 17:56] #1 closed, assigned to nobody

[2013-09-30 17:56] #3 closed, assigned to nobody

[2013-09-30 17:56] #4 closed, assigned to nobody

[2013-09-30 17:56] #5 closed, assigned to nobody

[2013-09-30 18:00] minorOffense commented on #10
@VennilaCity you can go here and clear out the old link aliases if they're in your way: https://staging.ottawa.ca/en/admin/config/search/path

Just search for the path and then delete the alias.

[2013-09-30 18:01] VennilaCity commented on #10
Dave deleted the aliases but the page title still appears in gateway summary?

[2013-09-30 18:03] minorOffense commented on #14
You can configure redirects here: https://staging.ottawa.ca/en/admin/config/search/redirect

[2013-09-30 18:06] minorOffense commented on #10
Does the node still exist?

[2013-09-30 18:07] VennilaCity commented on #10
No it doesn't

![image](https://f.cloud.github.com/assets/2806493/1239468/2231804a-29fb-11e3-81b4-392768fcc4e1.png)

[2013-09-30 18:07] minorOffense commented on #9
I've fixed the weird whitespace issue. (there was a stray link tag in the content). I've updated the filters to disallow links in the summaries.

Colours are being worked on now.

[2013-09-30 18:31] minorOffense commented on #13
Should be good now.

It's set to "before-you-arrive"

If you want to change any of those links, you can set their values here: https://staging.ottawa.ca/en/admin/structure/menu/manage/menu-immigration-portal/list

[2013-09-30 18:33] minorOffense commented on #7
What URL do you get when you switch to french? The theme switch is entirely driven by the URL path.

[2013-09-30 18:36] minorOffense commented on #6
1. For the title of the ToC that would be an enhancement to the code Dave wrote.
2. We _might_ be able to get the title to stick but we need to leave something behind for the list to anchor itself to upon returning
3. Colours are in the works in a separate issue.
4. That should be resolved with the Respond.js stuff but I'll double check.

For future reference, can you avoid stacking several issues

[2013-09-30 18:38] minorOffense commented on #6
Just tested ToC in IE, works just fine.

[2013-09-30 18:40] minorOffense opened #15 "Restore colour switching mechanism"

[2013-09-30 18:41] minorOffense commented on #9
see #15 for colour switching updates.

[2013-09-30 18:41] minorOffense commented on #6
See #15 about colour switching.

[2013-09-30 18:42] minorOffense opened #16 "Have ToC title stick with the links as well"

[2013-09-30 22:10] #15 closed, assigned to elcazador

[2013-09-30 22:18] tiffanytse commented on #8
Page has been tested/fixed for ie8 :) @VennilaCity @elcazador @minorOffense

[2013-09-30 22:28] #11 closed, assigned to tiffanytse

[2013-09-30 22:34] tiffanytse commented on #9
Fixed issue; make sure to have summary content as paragraphs though for best results (lists don't display as nicely).

[2013-09-30 22:34] #9 closed, assigned to tiffanytse

[2013-10-01 11:43] VennilaCity commented on #13
It still is loading the portal home page when clicked.

[2013-10-01 13:17] minorOffense commented on #13
Yes it does because you don't have content posted to that URL.

You need to create content for that page.

If you want that at a different URL post it here and I'll change the link to point to it (or you can edit the menu with the links I sent yesterday).

##

Mathew Winstone
mathew.winstone@ottawa.camailto:mathew.winstone@ottawa.ca

On 2013-10-01, at 7:43 AM, VennilaCity <notifications@github.com

[2013-10-01 13:30] VennilaCity commented on #13
There are five pages associated with it..

https://staging.ottawa.ca/en/immigration/before-you-arrive/how-to-apply-to-come-canada
https://staging.ottawa.ca/en/immigration/before-you-arrive/preparing-mentally-physically-and-financially
https://staging.ottawa.ca/en/immigration/before-you-arrive/before-you-arrive-checklist
https://staging.ottawa.ca/en/immigration/before-you-arrive/ottawa-airport
http

[2013-10-01 14:07] VennilaCity opened #18 "All section tiltes styled as H3 instead of H2"
Is there a reason why all the section titles in any page are styled as H3 ? When I switch to H2, they seem to pick up the color scheme of the page, shouldn't they all be H2 then?

[2013-10-01 14:17] tiffanytse commented on #18
H2s in the mockups were coloured like H1s. @VennilaCity

[2013-10-01 14:19] VennilaCity commented on #18
So is it OK for me to go ahead and switch all H3 to H2?

[2013-10-01 14:54] VennilaCity opened #19 "Titles need bolding"
Please have all the headings bolded to better identify the sections.

[2013-10-01 14:57] VennilaCity opened #20 "TOC links jumps to wrong item"
When a section in a page is too small, the TOC highlighted link seems to jump to the next item down in the list.

For ex: http://staging.ottawa.ca/en/immigration/after-you-arrive/how-i-got-settled#sect6

In the above link sect 6 as per URL is Settlement program but the next TOC link Community and Employment Support is highlighted.

This occurs all through the site.

[2013-10-01 15:33] tiffanytse commented on #18
Can you send me a screenshot of what you are trying to edit? I am not sure
what you are referring to .

On Tue, Oct 1, 2013 at 10:19 AM, VennilaCity notifications@github.comwrote:

##

Tiffany Tse

Creative Director
Coldfront Labs Inc.
ttse@coldfrontlabs.ca
twitter: @tiffany_tse

[2013-10-01 15:37] tiffanytse commented on #19
They weren't bolded in the mockups - this would be an enhancement.

On Tue, Oct 1, 2013 at 10:54 AM, VennilaCity notifications@github.comwrote:

##

Tiffany Tse

Creative Director
Coldfront Labs Inc.
ttse@coldfrontlabs.ca
twitter: @tiffany_tse

[2013-10-01 16:10] VennilaCity opened #21 "Translate links on blocks on the gateway pages"
The 6 blocks in the portal homepage needs to link to the corresponding gateway pages.

[2013-10-01 16:12] VennilaCity commented on #18
![image](https://f.cloud.github.com/assets/2806493/1246928/1946d4b2-2ab4-11e3-8f16-ada0e8847b22.png)

The section titles are not coloured as they are H3s, so I'm wondering if I can change them to H2s so they pick up the color theme just like the H1.

[2013-10-01 17:15] VennilaCity commented on #21
Can this and issue #13 be done ASAP, cause the site is being presented to the Mayor tomorrow I believe.

@AaronByrne @minorOffense @elcazador

[2013-10-01 17:27] minorOffense commented on #21
Ok.

##

Mathew Winstone

On Oct 1, 2013, at 13:15, "VennilaCity" <notifications@github.com<mailto:notifications@github.com>> wrote:

Can this and issue #13https://github.com/CityofOttawa/immigration_zen/issues/13 be done ASAP, cause the site is being presented to the Mayor tomorrow I believe.

@AaronByrnehttps://github.com/AaronByrne @minorOffensehttps://github.com/minorOffense @elcazadorhttps://

[2013-10-01 17:58] VennilaCity opened #22 "Background colors mixed up within gateways"
Working/Doing Business has grey background which is for International Students gateway. Living has green background while it should be blue..and such

[2013-10-01 18:17] tiffanytse commented on #18
Yep, change them to h2's if you want them to look like the mockups (coloured titles)

[2013-10-01 19:13] tiffanytse commented on #20
This should be fixed;

https://github.com/CityofOttawa/ottawa_panelized_page_nav/commit/a97220df0981860a328204c188090f18d391e307

[2013-10-01 19:13] #20 closed, assigned to elcazador

[2013-10-01 19:48] minorOffense commented on #13
I checked the taxonomy term for "before you arrive" and the url is set to "you-arrive-0" (see the bottom of the image). If you go and edit the term and set the proper path, it'll start working.

https://staging.ottawa.ca/en/taxonomy/term/3345/edit

![screen shot 2013-10-01 at 3 46 26 pm](https://f.cloud.github.com/assets/871728/1248692/5bcaff7a-2ad2-11e3-9096-bebb2fe1c50b.png)

[2013-10-01 19:51] #7 closed, assigned to minorOffense

[2013-10-02 11:42] minorOffense commented on #13
Fixed it. It lives on "you-arrive" for now. "before-you-arrive" is in use elsewhere or has a stray entry we need to kill.

[2013-10-02 11:42] #13 closed, assigned to elcazador

[2013-10-02 11:42] minorOffense commented on #12
I found some sample images and added them to the page.

You can edit the nodes or create new ones called "Slide" in the node type list.

[2013-10-02 11:43] VennilaCity commented on #18
Done.

[2013-10-02 11:43] #18 closed, assigned to elcazador

[2013-10-02 11:43] minorOffense commented on #12
Sorry it took me so long. Had a minor emergency to deal with last night.

[2013-10-02 11:48] minorOffense commented on #21
Just a note, the links will only work in english until we add translations. Once these are converted to beans though you won't have to translate link paths as such.

[2013-10-02 11:53] VennilaCity commented on #10
The title of the lost page still exists in the node summaries and since a limit of 5 is set, an actual page 'Portrait of Ottawa' is hidden.

![image](https://f.cloud.github.com/assets/2806493/1252977/49f35cc0-2b59-11e3-99ec-3b346849eac7.png)

[2013-10-02 11:54] minorOffense commented on #10
I was just cleaning those up. Check again.

[2013-10-02 11:55] VennilaCity commented on #7
Sorry, forgot to update that I had gone in and translated all the taxonomies and the path for it to work.

[2013-10-02 11:59] VennilaCity commented on #10
Looks good. Thanks!

[2013-10-02 12:15] VennilaCity commented on #14
In that case will I be able to get a node summary with an image?

[2013-10-02 12:57] VennilaCity commented on #12
We will need a pause button for the slider.When a title and URL was added to the slide, the link seems to work but the title did not appear and the title background does not seem to have sufficient contrast.

[2013-10-02 13:19] VennilaCity opened #23 "Background image not aligned"
The city hall image in the background on the bottom left has a small vertical gap to the actual page, need to align properly.

[2013-10-02 13:42] VennilaCity commented on #23
The grey Ottawa address block at the bottom needs aligning with the page on the right as well....clearly visible in this URL

https://staging.ottawa.ca/en/immigration/after-you-arrive

[2013-10-02 14:07] VennilaCity opened #24 "Remove warning message in IE"
Please remove the warning message in the portal home page(both En and Fr) 'You are not authorized to access this page' . This is seen in http only - would not want to show this during the demo.

[2013-10-02 14:14] tiffanytse commented on #23
Not sure what you mean. Can you screenshot?

[2013-10-02 14:16] VennilaCity commented on #23
![image](https://f.cloud.github.com/assets/2806493/1253915/3d18c6fc-2b6d-11e3-8244-66c885296202.png)

[2013-10-02 14:23] tiffanytse commented on #23
Hmm - it might be just the size of the bg's that were sent are off by a few pixels - let me see if I can fudge it with css.

[2013-10-02 14:31] tiffanytse commented on #23
Should be fixed now.

[2013-10-02 14:34] VennilaCity commented on #23
Thanks...looks good!

[2013-10-02 18:17] VennilaCity commented on #22
French gateway of Working/Doing business has the wrong background color

http://staging.ottawa.ca/fr/immigration/travail-et-affaires

[2013-10-03 14:44] VennilaCity commented on #21
'Living/engaging box need to be renamed to just 'Living'

[2013-10-03 14:46] VennilaCity commented on #12
Is there a limit to number of slides?
@minorOffense @AaronByrne

[2013-10-03 14:48] elcazador commented on #21
These types of changes will not be completed on a piecemeal basis. Who is requesting these.

From: VennilaCity [mailto:notifications@github.com]
Sent: Thursday, October 03, 2013 10:44 AM
To: CityofOttawa/immigration_zen immigration_zen@noreply.github.com
Cc: Hamelin, Denis
Subject: Re: [immigration_zen] Translate links on blocks on the gateway pages (#21)

'Living/engaging box need to be renamed t

[2013-10-03 14:53] VennilaCity commented on #21
That's fine. I just thought the gateway navigation was different from the boxes and took a suggestion from the client.

[2013-10-03 15:56] VennilaCity commented on #23
Can the background image of parliament and city hall just made to stay in the window and only the page scroll?

[2013-10-03 18:10] tiffanytse commented on #23
Can you create a new issue for that @VennilaCity

[2013-10-03 18:14] tiffanytse commented on #22
@minorOffense correct body class needs to be added to this page for it to work `.immigration-business`

[2013-10-03 18:16] VennilaCity commented on #23
Sure no problem.

[2013-10-03 18:16] #23 closed, assigned to elcazador

[2013-10-03 18:16] VennilaCity opened #25 "Background image no-scroll"
Can the background image of parliament and city hall just made to stay in the window and only the page scroll?

[2013-10-03 18:38] AaronByrne commented on #25
example is www.vancouver.ca

[2013-10-07 13:52] #25 closed, assigned to elcazador

[2013-10-08 16:18] minorOffense commented on #24
I can't remove that. You have to use https.

[2013-10-08 16:22] #24 closed, assigned to elcazador

[2013-10-08 16:36] VennilaCity commented on #12
I have edited the view to accommodate 5 banners, but is there a specific size for the image being used or can it be formatted to display certain size?

[2013-10-10 16:41] tiffanytse commented on #22
This should be fixed now; updated context paths.

[2013-10-10 16:41] #22 closed, assigned to elcazador

[2013-10-10 16:42] tiffanytse commented on #12
It will fit any image you put in, however for consistency sake - it's best to have them already cropped all to have the same size before uploading. @VennilaCity

[2013-10-10 16:55] VennilaCity commented on #12
When a title and URL was added to the slide, the link seems to work but the title did not appear and the title background does not seem to have sufficient contrast.

[2013-10-10 18:15] VennilaCity opened #26 "Remove home page markup for Lorem ipsum"
Please remove the lorem ipsum content from the home page as the right content has been added above it.

[2013-10-10 20:19] #26 closed, assigned to elcazador

[2013-10-10 20:48] tiffanytse commented on #12
The links should appear now based on the title of the slide / however I still need to style it :) @VennilaCity

Make sure to link Sample Image 3, when there is no link included the image / caption will not be linked.

[2013-10-11 12:41] VennilaCity commented on #6
Any update?
@AaronByrne @DaveBagler

[2013-10-11 12:50] VennilaCity opened #27 "Mobile view fix for Table of Contents"
Have the table of contents stay on top of the page for mobile view.

[2013-10-11 15:00] minorOffense commented on #6
## Nothing yet.

Mathew Winstone
mathew.winstone@ottawa.camailto:mathew.winstone@ottawa.ca

On 2013-10-11, at 8:41 AM, VennilaCity <notifications@github.com<mailto:notifications@github.com>>
 wrote:

Any update?
@AaronByrnehttps://github.com/AaronByrne @DaveBaglerhttps://github.com/DaveBagler

—
Reply to this email directly or view it on GitHubhttps://github.com/CityofOttawa/immigration_zen/issues

[2013-10-16 12:53] VennilaCity commented on #12
Any update on the styling?

[2013-10-16 14:30] VennilaCity opened #28 "Draggable views"
Require draggable view feature setup for the immigration gateway terms listing.

[2013-10-16 18:26] VennilaCity opened #29 "Infinite loop page error"
Under why choose Ottawa, went to page Arts and Culture and then toggled to french and got this error. Page not found error in IE.

![image](https://f.cloud.github.com/assets/2806493/1345481/663df844-3690-11e3-9edc-894c8664e9f8.png)

[2013-10-16 19:39] tiffanytse commented on #12
Should be up and running now :) @VennilaCity

[2013-10-16 20:19] tiffanytse commented on #12
Commit d31f0dae3a0a4c8d9c4a0d9d4d76652dcd728583

[2013-10-17 11:57] VennilaCity opened #30 "French page headings styling off"
French page headings(h1, h2 etc) do not seem to pick up the page color styling.

[2013-10-17 12:31] VennilaCity opened #31 "Remove h3 and h4 from TOC"
Configure Table of contents to only display h2 headings and not h3 and h4.

[2013-10-17 13:36] tiffanytse commented on #30
Before I fix this, please fix the url of the page (because that's what they styling will be dependent on and it will break if we change the url later. Not sure why it has a 0 at the end )

http://staging.ottawa.ca/fr/immigration/pourquoi-choisir-ottawa-0

@VennilaCity Let me know when you do. :)

[2013-10-17 13:55] VennilaCity commented on #30
If I remove the 0, then the gateway link just goes to this page https://staging.ottawa.ca/fr/immigration/etudiants-etrangers/pourquoi-choisir-ottawa not sure why...maybe something todo with the permalink?

[2013-10-17 14:02] tiffanytse commented on #30
It must have been the order in which the pages/content was created, since that page/node was created first and it has the exact same title drupal puts a 0 at the end to distinguish it. it's probably best to go and change the url of the inside page to have the 0, so that the top level navigation has nice urls. Perhaps Mat has some insight? @minorOffense @VennilaCity

[2013-10-17 14:25] VennilaCity commented on #30
The URLs are corrected now.

[2013-10-17 14:31] tiffanytse commented on #30
Thanks :)

[2013-10-17 14:51] VennilaCity commented on #28
Fixed the ordering by assigning topic weights

[2013-10-17 14:51] #28 closed, assigned to elcazador

[2013-10-17 15:34] VennilaCity commented on #12
Banner title translation doesn't seem to work. All slides have been translated but I only see English on the french side.

[2013-10-17 16:19] VennilaCity commented on #21
All six blocks on the French home page link to english pages.

[2013-10-17 16:33] VennilaCity opened #32 "Immigration logo needs to be added ASAP"
Add logo to the portal before the site is supposedly being circulated tomorrow.

[2013-10-17 16:34] VennilaCity commented on #31
This needs to be fixed before tomorrow as well

[2013-10-17 16:36] tiffanytse commented on #30
Should be fixed now

[2013-10-17 16:36] #30 closed, assigned to elcazador

[2013-10-17 16:37] tiffanytse commented on #12
I'll make a new issue for that.

[2013-10-17 16:37] #12 closed, assigned to minorOffense

[2013-10-17 16:38] tiffanytse opened #33 "Translation of slideshow captions not working"
French side of site doesn't translate slideshow titles properly.

[2013-10-17 16:41] tiffanytse commented on #12
Actually I think it might have been a cache-ing issue. Seems to be fixed now?

[2013-10-17 16:42] tiffanytse commented on #33
Actually I think it might have been a cache-ing issue. Seems to be fixed now? @VennilaCity

[2013-10-17 16:43] VennilaCity commented on #12
Now the french title is showing up in the English side

[2013-10-17 17:01] tiffanytse commented on #33
French is on english side now.

[2013-10-17 17:19] minorOffense commented on #31
This is a code change to the module Dave wrote.

[2013-10-17 17:20] minorOffense commented on #32
Can you post the logo here? I can't find it in my email.

[2013-10-17 17:25] VennilaCity commented on #32
![image](https://f.cloud.github.com/assets/2806493/1354224/289580d6-3751-11e3-9736-fddca9b90c04.png)

[2013-10-17 17:26] VennilaCity commented on #32
![image](https://f.cloud.github.com/assets/2806493/1354227/360d2610-3751-11e3-92f8-1abcdc9b73a1.png)

[2013-10-17 17:26] VennilaCity commented on #32
I'll email the images to you too.

[2013-10-17 17:29] VennilaCity commented on #31
@DaveBagler

[2013-10-17 18:21] VennilaCity commented on #33
Looks fine now...maybe just the cache

[2013-10-17 18:26] minorOffense commented on #33
We fixed the view. Added an explicit check for language (for some reason the normal language detection was failing for the title field)

[2013-10-17 18:26] #33 closed, assigned to elcazador

[2013-10-17 18:29] VennilaCity commented on #29
@minorOffense  Any thoughts on why this is happening....this page can't be viewed at all in IE

[2013-10-17 18:31] VennilaCity opened #34 "Page not loading"
https://staging.ottawa.ca/en/immigration/after-you-arrive/getting-settled-ottawa

Page does not load. Jephtee was editing the page and when she tried to save, she got the alert that the page has been modified by another user and on refresh the page wouldn't load anymore. It's simply blank.

[2013-10-17 20:49] tiffanytse commented on #32
Fixed bb95faec115f5535391c262461d608aec4826e3e

Font substitute for translation is this one, since the fonts they chosen are not websafe.
http://www.google.com/fonts/specimen/Balthazar

[2013-10-17 20:49] #32 closed, assigned to elcazador

[2013-10-18 13:18] VennilaCity commented on #34
@AaronByrne @minorOffense

[2013-10-18 16:34] VennilaCity opened #35 "Update picture on home page"
Replace 'Before you Arrive' picture in home page block with this. Will email you the image as well.

![image](https://f.cloud.github.com/assets/2806493/1362113/171c8134-3813-11e3-8f86-c7a9796d0085.png)

[2013-10-21 13:50] tiffanytse commented on #35
I will have to crop this picture significantly for it to fit; the luggage will probably be cropped if you want to see the faces. @VennilaCity

[2013-10-21 13:54] VennilaCity commented on #35
Or you can use this
![image](https://f.cloud.github.com/assets/2806493/1372808/5bf88234-3a58-11e3-8639-7b126ae48eab.png)

[2013-10-21 14:05] tiffanytse commented on #35
I'll put the ladies up first
you can see if you like it, if not, then we can switch it again. @VennilaCity

[2013-10-21 14:08] tiffanytse commented on #35
The new image is up @VennilaCity

[2013-10-21 14:13] VennilaCity commented on #35
Will confirm with client and get back on this.

[2013-10-21 16:24] VennilaCity commented on #35
Client is happy with the ladies picture.

[2013-10-21 18:05] #35 closed, assigned to elcazador

[2013-10-23 18:18] VennilaCity opened #36 "Home page edits"
The text that appears when you pass over the section boxes:
a) Why Choose Ottawa (note that Choose is capitalized and shouldn’t be if it is following the sentence case rule)

Change the message to:  “See what Ottawa has to offer.”

b) Before you arrive:

Change the message to: “A practical guide to preparing for life in Ottawa.”

c) After you arrive:

Change the message to: “A practical guide to a

[2013-10-24 15:23] VennilaCity commented on #36
@tiffanytse

Above are not the titles to the boxes on the home page, they are the text that appears when you pass over the section boxes.

[2013-10-24 15:52] AaronByrne commented on #36
Can these changes be made ASAP so that @VennilaCity and send the site out for review?

@minorOffense @tiffanytse

[2013-10-24 17:20] minorOffense commented on #36
This is the text from that Word doc.

[code]

[2013-10-24 17:36] minorOffense commented on #36
Updated the text in english.
1. d) Changing the menu text is a setting change to the menus. Vennila you should be able to do that.

The text has been updated and is ready for translation. Using the translation client should work now.

Do you have the links for the french side? I have to translate then manually in code.

[2013-10-24 17:51] minorOffense commented on #34
Node was corrupted. I've deleted the node. Please recreate.

[2013-10-24 17:52] VennilaCity commented on #36
Translations are in now. But the six blocks on the french homepage don't link to the right sections.

[2013-10-24 17:53] minorOffense commented on #29
My guess would be someone added a redirect for the node which is redirecting back to itself. But without a link I can't check.

Check at the bottom of the node edit form and remove any redirects which are set on the node. That should help. (both french and english).

[2013-10-24 17:54] minorOffense commented on #27
They shouldn't be at the top of the page. The ToC comes after the content (as it is less important).

There should however be a link to jump to the ToC. If it's not there, we should restore it.

[2013-10-24 17:56] minorOffense commented on #21
Do we have the links yet? I tried getting Drupal to auto-load the french version of the given paths in english but that didn't work. I have to set them with a conditional in the page template (once again, only until we have the beans in place).

[2013-10-24 17:57] minorOffense commented on #16
This would be an enhancement to the code @DaveBagler  and I wrote.

[2013-10-24 17:58] minorOffense commented on #14
I don't see how a node summary is related to a redirect?

[2013-10-24 17:58] #10 closed, assigned to minorOffense

[2013-10-24 17:59] VennilaCity commented on #14
Sorry this is not required anymore... I just added another topic to have the page display under two sections.

[2013-10-24 17:59] #14 closed, assigned to elcazador

[2013-10-24 17:59] minorOffense commented on #36
Right, I don't have the links :-S

Or if I do, I have misplaced them...

[2013-10-24 18:00] minorOffense commented on #36
See #21

[2013-10-24 18:20] VennilaCity commented on #21
It should be as below:

Pourquoi choisir Ottawa - https://staging.ottawa.ca/fr/immigration/pourquoi-choisir-ottawa
Avant votre arrivée - https://staging.ottawa.ca/fr/immigration/avant-votre-arrivee
Après votre arrivée - https://staging.ottawa.ca/fr/immigration/apres-votre-arrivee
Travail et affaires - https://staging.ottawa.ca/fr/immigration/travail-et-affaires
Étudier - https://staging.ottawa.ca/

[2013-10-24 18:27] VennilaCity commented on #29
Thanks...removed the redirect and is fine now.

[2013-10-24 18:27] #29 closed, assigned to elcazador

[2013-10-24 18:28] VennilaCity commented on #31
@AaronByrne @DaveBagler

Any update?

[2013-10-24 19:18] DaveBagler opened #37 "Hide H3s, H4s, H5s, H6s"
List tags in the in the table of contents are given a class:
toc-h3
toc-h3
toc-h3

[2013-10-24 19:18] DaveBagler opened #38 "Hide H3s, H4s, H5s, H6"
List tags in the in the table of contents are given a class:
toc-h3
toc-h3
toc-h3
toc-h3
toc-h3

[2013-10-24 19:20] DaveBagler opened #39 "Hide H3s, H4s, H5s, H6s"
List tags in the in the table of contents are given a class:
- toc-h1
- toc-h2
- toc-h3
- toc-h4
- toc-h5
- toc-h6

Can we hide (<code>display: none;</code>):
- toc-h3
- toc-h4
- toc-h5
- toc-h6

[2013-10-24 19:34] #37 closed, assigned to elcazador

[2013-10-24 19:34] #38 closed, assigned to elcazador

[2013-10-24 19:34] DaveBagler commented on #31
See Issue #39.

[2013-10-24 19:34] #31 closed, assigned to elcazador

[2013-10-24 19:42] minorOffense commented on #39
As a temporary work around sure yeah.

[2013-10-24 19:59] tiffanytse commented on #39
However with this temporary fix it does not resolve the issue now of highlighting missing when you are on a subsection (h3, h4, h5, h6) @DaveBagler @minorOffense

[2013-10-24 20:00] #39 closed, assigned to elcazador

[2013-10-25 12:10] VennilaCity commented on #21
@minorOffense @elcazador

The links need to be fixed.

[2013-10-25 12:11] VennilaCity commented on #34
I recreated the page and it looked fine but when Jephtee made edits to it and saved, again it's not leading.

@minorOffense @elcazador

[2013-10-25 12:14] VennilaCity opened #40 "French version of logo on french side"
Waiting for the french version of the logo to be placed on the French side of Immigration.

[2013-10-25 12:17] VennilaCity commented on #8
The gateway blocks with images on the homepage not displaying in IE. The top navigation menu missing the colors.

The webpage layout looks like a mobile view.

@minorOffense @elcazador

[2013-10-25 18:05] webstandards commented on #8
Screenshot of IE 8, pretty unusable, flips to mobile view no matter what size and navigation blocks are blank.
IE 10 and 11 however work quite well at all responsive widths, only issue seems to be alignment of text overlays on the two left navigation blocks.

IE8
![immigration_ie8](https://f.cloud.github.com/assets/4095270/1410146/9d5851e2-3d9f-11e3-8490-5de0c834f173.jpg)

IE10/11
![immigration_ie

[2013-10-25 18:12] AaronByrne commented on #8
the IE fixes seem to have been reverted we need them reinstated

[2013-10-25 18:26] VennilaCity opened #41 "Banner text background missing"
Home page banners missing the background color for the text in IE

[2013-10-25 18:27] VennilaCity commented on #36
Alt text for the six blocks show the old text, needs to be updated to the new edited text.

[2013-10-27 21:13] minorOffense commented on #21
Done.

[2013-10-27 21:13] #21 closed, assigned to elcazador

[2013-10-27 21:15] minorOffense commented on #36
I just updated the text to what was sent to me via email. See my comment above.

If that's the wrong text then someone will have to provide me with the new one.

[2013-10-27 21:15] #36 closed, assigned to elcazador

[2013-10-27 21:43] minorOffense commented on #34
I've disabled the toc on that page and restored the content. Something with the wysiwyg editor is creating markup that's making the DOMDocument object actions break.

If you don't make any edits the page should remain functional until we figure out what's up with the ToC generator (or replace it with Dave's in house proper one).

[2013-10-27 21:43] #34 closed, assigned to elcazador

[2013-10-28 11:59] minorOffense commented on #36
Alright I'll change that.

##

Mathew Winstone

On Oct 25, 2013, at 14:27, "VennilaCity" <notifications@github.com<mailto:notifications@github.com>> wrote:

Reopened #36https://github.com/CityofOttawa/immigration_zen/issues/36.

—
Reply to this email directly or view it on GitHubhttps://github.com/CityofOttawa/immigration_zen/issues/36.

This e-mail originates from the City of Ottawa e-mail system

[2013-10-28 12:06] AaronByrne opened #42 "Update logo font in Header"
@minorOffense
Matt I just sent you an email with the ai files, they have a new font for the "Welcoming, Diverse, Vibrant" text in the header
@VennilaCity

[2013-10-28 13:30] minorOffense commented on #42
Is it a web font?

[2013-10-28 13:31] AaronByrne commented on #42
I don't know I don't have ai so I can't see it...

[2013-10-28 13:31] minorOffense commented on #41
Can you specify which version of IE?

[2013-10-28 13:32] minorOffense commented on #8
When we disable the css aggregator that's what happens. The polyfill for IE and the media queries only work with css aggregation enabled.

[2013-10-28 13:33] VennilaCity commented on #41
IE 8

[2013-10-28 13:33] VennilaCity commented on #41
![image](https://f.cloud.github.com/assets/2806493/1419888/9193a6f8-3fd5-11e3-91fe-600d166ea714.png)

[2013-10-28 13:47] webstandards commented on #8
Much better in IE8, however carousel items are unreadable because there's nothing behind the text, and as noted before the alignment of text overlays on navigation blocks is off in IE8,10,11. See screenshot.
![ie8_problems](https://f.cloud.github.com/assets/4095270/1419970/620bacb2-3fd7-11e3-9d25-bdf35bc95a10.jpg)

[2013-10-28 15:08] minorOffense commented on #36
So just so we're clear, the same text that's visible in the paragraphs as the alt text in the images in each box correct?

[2013-10-28 15:12] VennilaCity commented on #36
That's correct.

[2013-10-28 16:17] tiffanytse commented on #42
Can you post the ai file to here? @AaronByrne

[2013-10-28 16:21] tiffanytse commented on #8
I will have to change the font sizing to fix this issue, and but a break in the first text overlay; because the content has changed, and this is causing the issue. The wrapping of working/doing business to a second line is making it higher than the others; and same with 'why choose ottawa' the description text is now only a single line, whereas all the others are two. @webstandards

[2013-10-28 16:26] AaronByrne commented on #42
From: Tiffany Tse [mailto:notifications@github.com]
Sent: October 28, 2013 12:17 PM
To: CityofOttawa/immigration_zen
Cc: Byrne, Aaron
Subject: Re: [immigration_zen] Update logo font in Header (#42)

Can you post the ai file to here? @AaronByrnehttps://github.com/AaronByrne

â€”
Reply to this email directly or view it on GitHubhttps://github.com/CityofOttawa/immigration_zen/issues/42#issuecomment-2

[2013-10-28 16:27] minorOffense commented on #8
Duplicate issue #41

[2013-10-28 16:35] webstandards commented on #8
@minorOffense "alignment of text overlays on navigation blocks is off in IE8,10,11" is not a duplicate issue.

[2013-10-28 16:38] minorOffense commented on #8
Yes it is, please don't reopen the issue. I'm opening one for that specifically as I just talked to @AaronByrne about it.

[2013-10-28 16:38] #8 closed, assigned to tiffanytse

[2013-10-28 16:40] minorOffense opened #43 "Adjust min-height of boxes on home page to match even when single line of text"
The text on the home page for "why choose ottawa" is lower than the rest since they shortened the display text.

We should adjust the boxes to always have the same min height value.

[2013-10-28 16:55] tiffanytse commented on #43
Its not quite that easy; a min height messes with the animation - I did fix it by adding a break though;

[2013-10-28 16:58] tiffanytse commented on #42
That didn't really work @AaronByrne

[2013-10-28 17:07] AaronByrne commented on #42
I couldn't figure out another way... Send me your email and I'll forward them.

Sent using my iPhone.

On 2013-10-28, at 12:59 PM, "Tiffany Tse" <notifications@github.com<mailto:notifications@github.com>> wrote:

That didn't really work @AaronByrnehttps://github.com/AaronByrne

—
Reply to this email directly or view it on GitHubhttps://github.com/CityofOttawa/immigration_zen/issues/42#issuecomment

[2013-10-28 17:08] tiffanytse commented on #43
Nevermind, I found a way to fix it using min-height on the paragraph instead;

[2013-10-28 17:11] #43 closed, assigned to elcazador

[2013-10-28 19:52] #41 closed, assigned to elcazador

[2013-10-28 21:12] webstandards opened #44 "IE8: Aliasing on text is jagged"
Wasn't sure how much of an issue this was as we can't expect perfection in old IEs and this is an IE8 and lower issue, Aaron says 'it needs to be fixed but not a high priority'.

The mouseover effect on text in the sub-sections is causing horribly grainy text in IE8. Can the text effect simply be removed if <=IE8?

![ie8_uglytext](https://f.cloud.github.com/assets/4095270/1423995/8802250c-4015-11e

[2013-10-28 21:19] webstandards opened #45 "IE8: Carousel indicator not working"
Another 'low priority but we should make it work' from Aaron:

The 5 squares/circles 'indicator' below the carousel is not working at all in IE8, fine in IE10+. Seems completely dead, does not indicate which carousel item you're on, nor can you click to another item.

@AaronByrne @elcazador

[2013-10-28 21:23] webstandards opened #46 "Carousel Pause Button"
@AaronByrne requested I open a ticket to request the carousel should have a pause button. Hopefully this is a configurable item?

@elcazador pls don't shoot the messenger, I am but a lonely humble servant boy.

[2013-10-28 21:25] webstandards commented on #44
Forgot to FYI @elcazador @AaronByrne @minorOffense

[2013-10-28 21:33] webstandards commented on #43
@tiffanytse a bit better, but still out of alignment with the one-liners next to it in IE8+. If this is the best we can do then so be it I guess.
![ie_alignment](https://f.cloud.github.com/assets/4095270/1424151/88a226ee-4018-11e3-90d1-0314c28d8e6d.jpg)

[2013-10-31 19:51] tiffanytse commented on #44
The font color changes; this is an ie rendering issue (for whatever reason IE can't antialias fonts correctly) - has nothing to do with content, there needs to be a hover indication so it should stay @webstandards .

[2013-10-31 20:34] webstandards commented on #44
@tiffanytse the client is not me it's Aaron did you ask the client what he want to do before closing the ticket?  'IE can't antialias fonts correctly' we know is the problem we're looking for a solution please. If the tradeoff is no hover indicator on the text in IE8 (I see other hover indicators on the mouse and arrow indicator) this is an acceptable tradeoff to me versus almost illegible text -

[2013-11-04 14:00] minorOffense commented on #46
It does. Just needs to be turned on.

[2013-11-04 19:12] minorOffense commented on #46
Going to turn on and then style it. I'll position it just like the hope page slider (I'll also move the pager controls up to match)

[2013-11-04 19:16] minorOffense commented on #42
Has that been resolved yet? Did they pick a font?

[2013-11-04 20:04] AaronByrne commented on #46
Hi Tiffany can you move the controls below the slider or into the shaded regio at the bottom of the slider

with them inside the image we run in to accessibility issues (Contrast)

[2013-11-04 20:05] AaronByrne commented on #46
Also with this setup in IE 8 when you click on the buttons that should load the different sliders it opens the page the slider links to rather than moving the slider.

[2013-11-04 20:17] tiffanytse commented on #42
The font in the ai file was 'expanded to outlines' so I can't check what it is, I think it's Myriad Pro (but that is an adobe font, and not websafe. A font needs to be chosen from http://google.com/fonts, and I would suggest Open Sans or something similar to what they have already chosen. @AaronByrne @minorOffense

[2013-11-04 20:53] tiffanytse commented on #46
No problem; will do @AaronByrne

[2013-11-04 20:54] tiffanytse commented on #46
Not sure why that is happening in IE8 but @minorOffense or myself will investigate too

[2013-11-04 21:53] minorOffense commented on #46
@AaronByrne can you draw it up quickly to show us where?

[2013-11-04 21:58] minorOffense commented on #46
@AaronByrne  As a side note, if you're going to run into accessibility issues with the positioning here, then it would be safe to assume the same issue would apply to the current home page.

Edit:

Acutally there is no accessibility issue here. It's not text or anything you're trying to show. The links are available as keyboard shortcuts and to screen readers. Their visibility levels aren't an acc

[2013-11-05 12:57] AaronByrne commented on #46
It's a good point that we should fix the homepage slider as well. Sometimes I can't see the buttons. Accessibility isn't just for screen readers and keyboard nav.

Can we you style so that the controls are at the bottom like the following link:

http://ottawa.ca/en/city-hall/get-know-your-city/improving-your-neighbourhood/neighbourhood-connection-office

also can we reduce the overall size of the

[2013-11-05 15:47] tiffanytse commented on #46
I have aligned the slider the way you requested, however I think it looks a bit strange just because everything else, on the landing page, and even on other pages throughout the site is aligned to the edges of the buttons. If you do want it changed back, let me know. @AaronByrne

[2013-11-05 15:50] tiffanytse commented on #46
One suggestion to make the slider not as tall, would be to change the dimensions, and upload landscape type photos, ones that are cropped and significantly shorter (400px height by 900px width). This would allow for the slider to be shorter in height, but still fit within the rest of the page.

[2013-11-05 17:38] #27 closed, assigned to elcazador

[2013-11-08 13:59] VennilaCity opened #47 "Footer and header links"
Please add the below links to the footer bottom
1. ottawa.ca linking to http://ottawa.ca/en (English)
   ottawa.ca linking to http://ottawa.ca/fr (French)
2. Browse Aloud linking to http://ottawa.ca/en/node/297165 (English)
   Naviguer à haute voix linking to http://ottawa.ca/fr/node/297166 (French)

Corrected links to the already existing items in footer provided below
1. Disclaimer - http://otta

[2013-11-12 15:02] AaronByrne commented on #47
2 new requirements for the upper part of the footer: (can this be a block that I can edit? I think we just add it immediately to the left of the ottawa logo)

1)Add the Province of Ontario logo: please place on the
![ontario_logo](https://f.cloud.github.com/assets/2185125/1522425/a6757adc-4ba7-11e3-92d4-df9a5b9438e9.png)
![ontariologo](https://f.cloud.github.com/assets/2185125/1522426/a67f184e-4ba

[2013-11-12 17:24] tiffanytse commented on #47
I think it would look best if we kept everything centered for now; just in terms of design - since there is nothing to balance out the footer on the left hand side. But I am adding them in right now. @AaronByrne

[2013-11-12 17:45] tiffanytse commented on #47
@VennilaCity the menu is set up now for you to add in all the links you need to.

[2013-11-12 19:57] #46 closed, assigned to elcazador

[2013-11-12 20:19] tiffanytse commented on #47
@VennilaCity @AaronByrne Contact menu has been added to header area, and styled (bdb4a6ff077da21ada0d506cc255e75e391db1de)

[2013-11-12 20:19] #47 closed, assigned to elcazador

[2013-11-12 20:21] #40 closed, assigned to elcazador

[2013-11-13 18:59] VennilaCity opened #48 "Table of Content showing weird characters"
On the french side, the table of contents shows abnormal characters for french accents and special characters.
@AaronByrne @DaveBagler @minorOffense

[2013-11-13 19:19] DaveBagler commented on #48
fixed now on staging will need to be updated on prod (we can do that without a cache clear)

[2013-11-14 22:39] AaronByrne opened #49 "FRENCH HOMEPAGE is missing"
the French landing page ottawa.ca/fr/immigration has nothing on it...

@minorOffense @DaveBagler @tiffanytse @elcazador

[2013-11-14 22:39] AaronByrne commented on #49
the header and footer are there but nothing in the body

[2013-11-14 22:40] minorOffense commented on #49
That’s odd…

## Let me have a look.

Mathew Winstone
mathew.winstone@ottawa.camailto:mathew.winstone@ottawa.ca

On Nov 14, 2013, at 5:39 PM, AaronByrne <notifications@github.com<mailto:notifications@github.com>> wrote:

the French landing page ottawa.ca/fr/immigrationhttp://ottawa.ca/fr/immigration has nothing on it...

@minorOffensehttps://github.com/minorOffense @DaveBaglerhttps://github.com/Dav

[2013-11-14 22:40] AaronByrne commented on #49
and the English:

Diverse. Welcoming. Vibrant. is ni english rather than French

[2013-11-14 22:44] minorOffense commented on #49
The french page was being taken over by the translation of a taxonomy term in french. Removing the alias has fixed that.

The translation text for that page needs to be applied using the translation toolbar at the bottom.

[2013-11-14 22:45] minorOffense commented on #49
I can try to export the translations from staging, give me a minute...

[2013-11-14 22:46] AaronByrne opened #50 "Slider - on prod Java script broken"
The slider pane is disabled, the Javascript isn't running so the images stack.

[2013-11-14 22:47] minorOffense commented on #49
How's that? The translations seemed to import pretty well.

ottawa.ca/fr/immigration

[2013-11-14 22:50] minorOffense commented on #50
Yup. Looks like the Flexslider isn’t on the prod server. I’ve disabled the pane for now. We can put the library in tomorrow. That’s my bad, missed that yesterday.

##

Mathew Winstone
mathew.winstone@ottawa.camailto:mathew.winstone@ottawa.ca

On Nov 14, 2013, at 5:46 PM, AaronByrne <notifications@github.com<mailto:notifications@github.com>> wrote:

The slider pane is disabled, the Javascript isn't

[2013-11-14 22:52] AaronByrne opened #51 "home page in IE missing colours for menu and also for the boxes."
Matt, what would it take to fix this tonight? big job or no?

if it was just the menus that would be one thing but the boxes look super broken.

[2013-11-14 22:56] minorOffense commented on #51
This is a regression issue from the changes we made to the ToC the other day.

I can't fix it tonight as I would require access to write files to production.

We can fix it first thing in the morning.

[2013-11-14 22:56] minorOffense commented on #49
I'll be away from my computer for a bit but everything in french looks good. Feel free to reopen if you found anything else.

[2013-11-14 22:56] #49 closed, assigned to nobody

[2013-11-14 22:57] AaronByrne commented on #51
Ok. Had to ask.

[2013-11-14 22:57] #48 closed, assigned to DaveBagler

[2013-11-15 14:49] minorOffense commented on #50
@citychanri can you run the following on web1 to download/install the flexslider library

[code]

You can run it from pretty well anywhere. Just ensure you're using a user than can write to the sites/all/libraries directory.

[2013-11-15 15:12] citychanri commented on #50
Got and unzipped to location

[2013-11-15 18:49] AaronByrne commented on #51
@minorOffense any progress finding the issue?

[2013-11-15 19:23] pdesourdy opened #52 "Embedded videos show up twice"
When embedding a video using the "Insert/Edit Embedded Media" tool in the WYSIWYG editor
![image](https://f.cloud.github.com/assets/2789366/1552865/cff2a0bc-4e2a-11e3-8d98-5de15e6299dd.png) the video shows up twice. I didn't have any problems embedding videos on a regular ottawa.ca page.

I'm trying to embed 2 videos on this page: https://ottawa.ca/en/immigration/working-and-doing-business/finding

[2013-11-15 19:40] minorOffense commented on #51
@citychanri

[code]

[2013-11-15 20:45] #51 closed, assigned to minorOffense

[2013-11-15 20:45] #50 closed, assigned to minorOffense

[2013-11-18 15:50] minorOffense commented on #52
I don't see any duplicate videos on that page. Can you try the content out on staging to see what it looks like?

[2013-11-18 15:52] AaronByrne commented on #52
We removed the video because the site is live and it looked broken.

[2013-11-18 15:53] AaronByrne commented on #52
didn't mean to close.

[2013-11-18 15:53] minorOffense commented on #45
Yup, seems to be a bug between FlexSlider and IE8/9. Looking into it.

[2013-11-18 15:55] minorOffense opened #53 "Empty H2 causing empty ToC"
http://ottawa.ca/en/immigration/working-and-doing-business/finding-job#toc_h2_2

Be sure whatever content you have there has valid H2 content

@AaronByrne @pdesourdy @VennilaCity

[2013-11-18 16:06] AaronByrne commented on #53
so I got rid of the H2 wrapping the youtube video... now the ToC is gone from the page?

[2013-11-18 16:08] AaronByrne commented on #53
Changed text format back to WYSIWYG and it's back!

[2013-11-18 16:20] pdesourdy commented on #52
Check it out:
https://staging.ottawa.ca/en/immigration/working-and-doing-business/finding-job

The second one shows up when you hover your mouse over the big white space...

Note and observation:
1. Ottawa.ca prod - videos do not play in IE8, videos do not show up twice
2. Immigration staging - videos do play in IE8, videos show up twice

[2013-11-19 14:06] VennilaCity opened #54 "Image caption alignment issue"
Captions seem not to wrap around image properly leaving a margin.

http://ottawa.ca/fr/immigration/travail-et-affaires/lancer-une-entreprise#toc_h2_8

It's the CSS
# main img {

margin: 1em 2em;
}

[2013-11-19 14:07] pdesourdy commented on #52
bringing in @VennilaCity and @DaveBagler to help out

[2013-11-19 15:56] pdesourdy commented on #52
@minorOffense Any luck? Is there a better video player that we should be using for playing local media like videos?

[2013-11-19 22:35] tiffanytse commented on #54
Sorry this content-type was not in the original mockups, so I didn't style for it. I will fix this up tomorrow morning. :sunny: @VennilaCity

[2013-11-20 16:17] DaveBagler commented on #52
So the wet video player wont work because we are not using wet within the immigration section.

[2013-11-20 16:24] AaronByrne commented on #52
Ok, that seems logical.

Is there another player we can use?

Sent using my iPhone.

On 2013-11-20, at 11:17 AM, "Dave Bagler" <notifications@github.com<mailto:notifications@github.com>> wrote:

So the wet video player wont work because we are not using wet within the immigration section.

—
Reply to this email directly or view it on GitHubhttps://github.com/CityofOttawa/immigration_zen/issues/52#

[2013-11-20 16:45] pdesourdy commented on #52
Have you used this one before @DaveBagler https://drupal.org/project/cck_video ?

[2013-11-20 20:12] #54 closed, assigned to tiffanytse

[2013-11-29 17:12] minorOffense opened #55 "Adjust caption text in flexslider as you resize the page"
The text stays too big. Needs to shrink as we go down.

[2013-12-06 16:13] DaveBagler opened #56 "Titles on landing pages need to be sentence case"
I know it isn't proper English but the titles on the landing pages of immigration need to be in sentence case so:

<code>Before You Arrive</code>

should be:

<code>Before you arrive</code>

The capitalization is being forced in the CSS.

[2013-12-09 15:54] alanOTT commented on #56
I was taught to capitalize all major words in titles of books, articles, film, etc. So the first example would be correct. See http://www.psc-cfp.gc.ca/abt-aps/stgd-gdst/index-eng.htm#toc2.3.  Is there another reason sentence case is required?

[2013-12-09 15:57] gibbardra commented on #56
Corporate standard is sentence casing unless it is a proper name. So second example is correct.

[2013-12-11 16:33] #55 closed, assigned to tiffanytse

[2013-12-11 17:50] #44 closed, assigned to tiffanytse

[2013-12-11 17:55] #53 closed, assigned to nobody

[2013-12-11 17:57] tiffanytse commented on #52
Was this fixed? @DaveBagler @AaronByrne

[2014-01-14 14:03] tylerpepper commented on #52
@minorOffense I've been asked to look into this, and heard that you may have a solution (a new video player or something that you already have working?) Thanks.

[2014-01-14 15:30] minorOffense commented on #52
As part of another project, we’re building out some video player stuff for the city. No code written yet. Bagler and I have to work on it in the coming months.

If you can fix the existing bug in wetkit go for it. But I wouldn’t spend too much time reimplementing anything yet. (Unless someone tells you to do so specifically)

##

Mathew Winstone
mathew.winstone@ottawa.camailto:mathew.winstone@otta

[2014-01-14 15:32] AaronByrne commented on #52
I need a fix one way or another in the next week or so. Whether it's a different player of a fix to the wet bug. The client for immigration has been patient but that is wearing thin.

[2014-01-16 17:07] AaronByrne commented on #56
this issues isn't resolved. is it waiting to be pushed?

i.e. from prod, look at the title of this page: https://ottawa.ca/en/immigration/why-choose-ottawa

@DaveBagler @tiffanytse

[2014-01-16 20:08] tiffanytse commented on #56
The changes to the theme just need to be pulled onto prod; its already been pushed from qa to the theme repository. @AaronByrne

[2014-02-05 17:02] pdesourdy commented on #52
Any updates on this? @AaronByrne wanted this fixed a couple weeks ago. The client for immigration is getting frustrated.

[2014-02-06 15:41] minorOffense commented on #52
Nothing yet. I'm working on cleaning the capital, Bagler was temporarily banned from the office and Tyler is doing youth portal.

So now time allotted to creating the player.

##

Mathew Winstone

On Feb 5, 2014, at 12:02, "Phil Desourdy" <notifications@github.com<mailto:notifications@github.com>> wrote:

Any updates on this? @AaronByrnehttps://github.com/AaronByrne wanted this fixed a couple week

[2014-03-03 13:48] AaronByrne commented on #52
my understanding is that @tylerpepper and @DaveBagler have this worked out when can the new player be deployed to prod?

[2014-03-03 15:07] DaveBagler commented on #52
Yeah, you just need to put in the mark-up but @tylerpepper or I can send you the markup to use.

[2014-04-04 14:22] pdesourdy commented on #52
@DaveBagler The new video player is working properly. Below is the code for embedding videos

`<p><video id="HR1" class="video-js vjs-default-skin ottawa-vjs-skin vjs-big-play-centered" controls preload="none" width="auto" height="auto" data-setup="{}">
<source src="http://ottawa.ca/include/immigration/03_HR1 v2 en.mp4" type='video/mp4' />
</video></p>`

[2014-04-04 14:22] #52 closed, assigned to minorOffense

[2014-06-09 16:15] VennilaCity opened #57 "New nodes require grouping"
@minorOffense @AaronByrne @DaveBagler

Client is requesting adding more nodes under the 'learning' gateway and needs grouping of the nodes with new titles as they are listed under the gateway.

Currently the gateway has

![image](https://cloud.githubusercontent.com/assets/2806493/3219021/315df230-eff1-11e3-9a30-287b8f2f6920.png)

Client is looking to add

![image](https://cloud.githubusercontent.c

[2014-06-17 12:29] VennilaCity commented on #57
@AaronByrne Can this be done? The client has the pages ready as drafts to be published. Can the requirement be achieved?

[2014-06-17 13:11] AaronByrne commented on #57
@VennilaCity This should be added as 3 new pages in the Learning section.

[2014-06-18 14:23] VennilaCity commented on #57
https://ottawa.ca/fr/immigration/etudier

Please change the color theming to match the gateway color of grey

[2014-06-20 16:50] VennilaCity opened #58 "Add missing google translate widget to the footer"
Client noticed that the google translate widget is missing from the Immigration portal footer and would like to have it back.

[2014-06-23 17:49] VennilaCity opened #59 "Gateway title needs editing on home page"
French Immigration home page menu ribbon has 'Étudier' for learning section but has 'Étudiants étrangers' under the six blocks with images. Please change the block text to 'Étudier' as well.

[2016-08-24 20:52] #6 closed

[2016-08-26 19:11] #56 closed

[2016-08-26 19:16] #16 closed

[2016-08-26 19:20] #57 closed

[2018-01-25 20:35] #2 closed

[2018-01-25 20:35] #19 closed

[2018-01-25 20:35] #42 closed

[2018-01-25 20:35] #45 closed

[2018-01-25 20:35] #58 closed

[2018-01-25 20:35] #59 closed